 @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;300;500;600;700&family=Inter:wght@100;200;400;800;900&family=Josefin+Sans:wght@400;700&family=Manrope:wght@200&family=Merriweather:wght@300&family=Outfit:wght@700&display=swap');
  
*{
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-family: 'Merriweather', serif;
    font-weight: 200;

}
.user-profile {
  display: flex;
  align-items: center;
}
.profile{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: blue;
}
.profile input{
    border: none;
    outline: none;
    border-radius: 5px;
    height: 20px;
}
.user-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  position:relative;
  top: -30px;
}
.choose-what{
    
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.choose-what h2:hover{
    color: blue;
}
.intro{
    width: 200px;
    height: 20px;
}
.activities{
    width: 60%;
    height: 20px;
    justify-content: space-between;
    /* border: 1px solid green; */
    display: flex;
    /* justify-content: space-evenly; */
}
.post {
  margin-bottom: 20px;
  border-top: 1px solid rgb(231, 219, 219);
  padding: 10px;
}

.comments {
  display: none;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.post img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post h4{
    color: blue;
    font-weight: 800;
}